@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Public Sans", sans-serif;
    touch-action: manipulation;
  }
  body {
    background: #f9f9f9;
  }

  body,
  input,
  select,
  textarea {
    color: #636e72;
  }
}
